<%
   set_connection adapter: 'sqlite3', database: 'examples/example2.db' 

   store 'revision' do
     string 'editor'
     date 'updated_on'
     float 'version'
   end
      
   revision editor: 'Alister Lee', updated_on: Date.new(2012,10,12), version: 0.1
   revision editor: 'Another Guy', updated_on: Date.new(2012,10,14), version: 0.2
   revision editor: 'B. Final', updated_on: Date.new(2012,10,16), version: 0.9
   
   store 'approver' do
     string 'name'
     string 'role'
     date 'signed_on'
   end
   
   approver name: 'A. Boss', role: 'First Level Manager', signed_on: Date.new(2012,10,16)
   approver name: 'B. Boss', role: 'Second Level Manager'
%>

<div id="program">Overarching Glorious Program (OGP)</div>
<div id="tagline">A better future through self-checking documents</div>

<%= title 'Lorem' %>

<%
   set_layout_file 'examples/example2_layout.html'
   
   meta data_doc_template: 'example2'
   meta data_doc_version: DataDoc::VERSION
   
   link rel: 'stylesheet', type: 'text/css', href: 'example2.css'
%>

# Document Control

### Information
<%  store 'control_item' do 
      string 'item'
      text 'content'
    end
   
    control_item item: 'Document name', content: 'High-level requirements document'
    control_item item: 'Issue date', content: Date.new(2012,10,12).to_s
    control_item item: 'Authors', content: 'Alister Lee'
    control_item item: 'Owner', content: 'Vice-President Sales'
    control_item item: 'TRIM container', content: 'ADD2012/22222'
    control_item item: 'File name', content: 'examples/examples2.md.erb'
    control_item item: 'TRIM reference', content: 'ADD2012/333333'        
%>
<%= present 'select item, content from control_item' do
      no_header
    end
%>

### History
<%= present 'select version, editor, updated_on from revision order by version' do
      label 'updated_on', 'Updated date'
    end
%>

### Approvals
<%= present 'select name, role, signed_on from approver order by signed_on, id' %>

# Introduction

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
